<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="<?php echo static_url('templates/metronics/assets/global/plugins/font-awesome/css/font-awesome.min.css') ?>" rel="stylesheet" type="text/css" />
<link href="<?php echo static_url('templates/metronics/assets/global/plugins/simple-line-icons/simple-line-icons.min.css') ?>" rel="stylesheet" type="text/css" />
<link href="<?php echo static_url('templates/metronics/assets/global/plugins/bootstrap/css/bootstrap.min.css') ?>" rel="stylesheet" type="text/css" />
<link href="<?php echo static_url('templates/metronics/assets/global/plugins/uniform/css/uniform.default.css') ?>" rel="stylesheet" type="text/css" />
<link href="<?php echo static_url('templates/metronics/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') ?>" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="<?php echo static_url('templates/metronics/assets/global/plugins/select2/css/select2.min.css') ?>" rel="stylesheet" type="text/css" />
<link href="<?php echo static_url('templates/metronics/assets/global/plugins/select2/css/select2-bootstrap.min.css') ?>" rel="stylesheet" type="text/css" />
<link href="<?php echo static_url('templates/metronics/assets/global/plugins/bootstrap-toastr/toastr.min.css') ?>" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link href="<?php echo static_url('templates/metronics/assets/global/css/components-rounded.min.css') ?>" rel="stylesheet" id="style_components" type="text/css" />
<link href="<?php echo static_url('templates/metronics/assets/global/css/plugins.min.css') ?>" rel="stylesheet" type="text/css" />
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="<?php echo static_url('templates/metronics/assets/pages/css/login-2.min.css') ?>" rel="stylesheet" type="text/css" />
<?php echo isset($_load_css) ? $_load_css : ''; ?>
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<!-- END THEME LAYOUT STYLES -->
<link rel="shortcut icon" href="<?php echo static_url('images/icons/favicon.ico'); ?>" />
