<!doctype html>
<html lang="en">
    <head>
        <?php $this->load->view('includes/templates/maxitechture/include_meta.php'); ?>
        <title>{title_for_layout}</title>
        <?php $this->load->view('includes/templates/maxitechture/include_css.php'); ?>
        <style>.mySlides {display:none;}</style>
    </head>
    <body data-spy="scroll" data-target="#home" data-offset="70">       
    <center><img id="loading" hidden src="<?php echo static_url('images/loading.gif') ?>" style="position: fixed; top: 50%; width: 5%; z-index: 9999;" /></center>
    <?php $this->load->view('includes/templates/maxitechture/header_area.php'); ?>
    <section class="home_banner_area" id="home" style="background-image: url('<?php echo static_url('templates/maxitechture/img/banner/home-banner.jpg'); ?>')">
        <div class="banner_inner">
            <div class="container bg_white" >
                <div style="margin: 0 auto;"> 
                    <div style="padding:20px; border-radius: 8px; background-color:#fff; opacity:0.7; min-height:80vh;overflow: auto;">
                        <?php $this->load->view('components/content.html.php'); ?>		
                    </div>
                </div>
            </div>
        </div>
    </section>
    <?php $this->load->view('includes/templates/maxitechture/footer.php'); ?>
    <?php $this->load->view('includes/templates/maxitechture/include_js.php'); ?>
</body>
</html>