<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{title_for_layout}</title>
        <?php $this->load->view('includes/templates/metronic_login/include_meta.phtml'); ?>
        <?php $this->load->view('includes/templates/metronic_login/include_css.phtml'); ?>		
    </head>
    <body class=" login">
        <?php $this->load->view('includes/templates/metronic_login/logo.phtml'); ?>	
        <div class="content">
            <?php $this->load->view('components/content.html.php'); ?>
        </div>
    </body>
    <?php $this->load->view('includes/templates/metronic_login/include_js.phtml'); ?>	
</html>