<!DOCTYPE html>
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8" />
        <title><?php echo isset($title_for_layout) ? $title_for_layout : ''; ?></title>
        <?php $this->load->view('includes/templates/metronic_pos/include_meta.php'); ?>
        <?php $this->load->view('includes/templates/metronic_pos/include_css.php'); ?>
        <?php $this->load->view('includes/templates/metronic_pos/include_favicon.php'); ?>
    <!-- END HEAD -->

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-sidebar-closed">
       <div id="loading" hidden><?php echo isset($message) ? $message : ''; ?></div>
        <!-- BEGIN HEADER -->
        <?php $this->load->view('includes/templates/metronic_pos/header.php'); ?>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <?php $this->load->view('includes/templates/metronic_pos/sidebar.php'); ?>            
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <?php $this->load->view('components/content.html.php'); ?>
                </div><!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <?php //$this->load->view('includes/templates/metronic_pos/quick_sidebar.php'); ?>            
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <?php $this->load->view('includes/templates/metronic_pos/footer.php'); ?>   
        <!-- END FOOTER -->
        <?php $this->load->view('includes/templates/metronic_pos/include_js.php'); ?> 
    </body>
</html>