<html>
    <body style="width:100%; margin:0px auto;">
        <div style=" margin:20px;border:1px solid #ccc">
            <div style="padding-top:10px; padding-bottom:10px; background-color:#ccc; width:100%; text-align:center">
                <h2><?php echo isset($title_for_email) ? $title_for_email : ''; ?></h2>
                <span><small><?php echo isset($caption_for_email) ? $caption_for_email : ''; ?></small></span>
            </div> 
            <div style="min-height:400px; text-align:justify; background-color:#fff; width:100%">
                <?php echo isset($content) ? $content : ''; ?>
            </div>   
            <div style="background-color:#ccc; width:100%; text-align:center">
                <p style="padding:10px;"><small><?php echo isset($footer) ? $footer : ''; ?></small></p>
            </div>      
        </div>
    </body>
</html>